@use '../abstracts/variables' as *;

.grid {
  display: grid;
  gap: 1.5rem;
  padding: 0 1.5rem;
  max-width: 600px;
  margin: 0 auto;

  &--skills {
    grid-template-columns: 1fr;
    align-items: center;
  }
}
