@use '../abstracts/variables' as *;

.grid {
  display: grid;
  gap: 1.5rem;
  padding: 0 1.5rem;
  max-width: 600px;
  margin: 0 auto;

  &--skills {
    grid-template-columns: 1fr;
    align-items: center;
  }
}

// ------------------- Tablet styles 768px -------------------
@media screen and (min-width: 768px) {
  .grid {
    &--skills {
      grid-template-columns: repeat(2, 1fr);
      max-width: 1000px;
      gap: 3rem 8rem;
    }
  }
}
// ----------------------------------------------------------
