@use '../abstracts/variables' as *;

.skills {
  padding: -1.5rem 1.5rem;
  position: relative;
  background-color: $color-black;

  &__grid {
    display: grid;
    gap: 1.5rem;
    padding: 0 1rem;
    max-width: 600px;
    margin: 0 auto;
  }

  &__separator {
    width: 90%;
    height: 3px;
    background-color: $color-gray;
    opacity: 0.2;
    margin: 5rem 0;
    margin-left: 1.2rem;
  }

  &__background-oval-group {
    position: absolute;
    left: 60%;
    top: 90%;
    transform: rotate(180deg);
    z-index: 1;
  }
  &__background-oval-group-desktop {
    display: none;
  }
}


.skill-card {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  margin-top: -3rem;
  
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  
  &__title {
    font-size: 2rem;
    font-weight: 700;
    color: $color-white;
  }

  &__experience {
    font-size: 1rem;
    font-weight: 500;
    color: $color-gray;
  }
}

//----------------------------------------------tablet view styles----------------------------------------------
@media screen and (min-width: 768px) {
  .skills {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
      max-width: 1000px;
      gap: 3rem 8rem;
      margin-bottom: 6rem;
    }

    &__background-oval-group {
      left: 79%;
      top: 80%;
      transform: rotate(180deg);
      z-index: 1;  
    }
    &__separator {
      display: none;
      
    }
  }

  .skill-card {
    padding: 0;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    margin-top: 0;
    
    &__content {
      align-items: flex-start;
      text-align: left;
    }
    
    &__title {
      font-size: 3rem;
      margin: 0;
      line-height: 1;
    }
    
    &__experience {
      font-size: 1rem;
      margin: 0;
    }
  }
}

//----------------------------------------------desktop view styles----------------------------------------------
@media screen and (min-width: 1440px) {
  .skills {
    &__grid {
      grid-template-columns: repeat(3, 1fr);
      max-width: 1250px;
      gap: 4rem 10rem;
    }
    &__background-oval-group {
      display: none;
    }

    &__background-oval-group-desktop {
      display: flex;
      position: absolute;
      left: 90%;
      top: 70%;
      transform: rotate(180deg);
      z-index: 1;  
    }
  }
}

