<section class="skills">
  <div class="grid grid--skills">
    <!-- Primera fila -->
    <article class="skill-card">
      <div class="skill-card__content">
        <h3 class="skill-card__title">HTML</h3>
        <p class="skill-card__experience">4 Years Experience</p>
      </div>
    </article>

    <article class="skill-card">
      <div class="skill-card__content">
        <h3 class="skill-card__title">CSS</h3>
        <p class="skill-card__experience">4 Years Experience</p>
      </div>
    </article>

    <!-- Segunda fila -->
    <article class="skill-card">
      <div class="skill-card__content">
        <h3 class="skill-card__title">Javascript</h3>
        <p class="skill-card__experience">4 Years Experience</p>
      </div>
    </article>

    <article class="skill-card">
      <div class="skill-card__content">
        <h3 class="skill-card__title">Accessibility</h3>
        <p class="skill-card__experience">4 Years Experience</p>
      </div>
    </article>

    <!-- Tercera fila -->
    <article class="skill-card">
      <div class="skill-card__content">
        <h3 class="skill-card__title">React</h3>
        <p class="skill-card__experience">3 Years Experience</p>
      </div>
    </article>

    <article class="skill-card">
      <div class="skill-card__content">
        <h3 class="skill-card__title">Sass</h3>
        <p class="skill-card__experience">3 Years Experience</p>
      </div>
    </article>
  </div>

  <div class="skills__background-oval-group">
    <div class="skills__background-oval"></div>
  </div>
</section> 